/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&family=Roboto:wght@300;400;500&display=swap");
@import "./styles/variables";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 62.5%; // 1rem = 10px
  color: $color-dark;
  background-color: $primary-color;
}
